#main {
    width: 79%;
    margin-left: 17%;
}
p.description {
    font-size: 12px;
    color: #888;
}
#sidebar {
    background: $secondary;
    width: 14%;
    height: 100%;
    position: fixed;
    top: 0;

    ul {
        li {
            a {
                padding: 12px 37px;
                width: 100%;
                display: inline-block;
                cursor: pointer;
                color: lighten($secondary, 26);
            }
            a:hover {
                text-decoration: none;
                background: darken($secondary, 8);
            }
            
        }
    }
}
.btn.block {
    width: 100% !important;
}
.progress {
    background: #f7f7f7;
    height: 1pc;
}
.collapsible {
    a {
        color: #333;
    }
}
.input-field {
    position: relative;
}
.datepicker {
    padding-left: 34px !important;
}
