<li class="collection-item">
  <h5><%= link_to task.title, task %></h5>
  <p class="description"><%= task.project.client.name %> > <%= task.project.name %></p>
  <div class="progress">
    <div class="determinate" style="width: <%= percent(task.total_minutes, task.effort_min) %>%"></div>
  </div>
</li>
