<li class="active">
	<div class="collapsible-header">
		<div class="row">
			<div class="col m2"><%= link_to task.title, task %></div>
			<div class="col m10"><%= task.client_project %></div>
		</div>
	</div>
  	<div class="collapsible-body">
  		<span>
  			<div class="progress">
    			<div class="determinate" style="width: <%= percent(task.total_minutes, task.effort_min) %>%"></div>
			</div>
		</span>
 	</div>
</li>
