<li class="active">
	<div class="collapsible-header row ln">
		<div class="col m2">
			<%= link_to task.title, task %>
		</div>
		<div class="col m3">
			<p class="info"><%= task.client_project %></p>
		</div>
		<div class="col m6">
			<%= render 'tasks/play_pause', task:task %>
		</div>
	</div>
  	<div class="collapsible-body">
  		<span>
  			<%= render 'tasks/progress_bar', task: task %>
		</span>
 	</div>
</li>
