<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col m6">
    <p>4 tarefas abertas</p>
  </div>
  <div class="col m2">
    <select id="searchCategoryTask">
      <option value="1">Iniciadas</option>
      <option value="2">Abertas</option>
      <option value="3">Encerradas</option>
    </select>
  </div>   
  <div class="col m2" style="margin-top: 9px;">
    <%= link_to "Abrir Tarefa", new_task_path, class: 'btn blue waves-effect' %>
  </div>
</div>

<% if @tasks.any? %>
  <ul class="collection">
    <% @tasks.each do |task| %>
      <%= render 'tasks/task_list', task: task %>
    <% end %>
  </ul>
<% else %>
    <p>Nenhuma tarefa iniciada.</p>
<% end %>
