<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col m8 s12">
    <p>4 tarefas abertas</p>
  </div>
  <div class="col m2 s12">
    <select id="searchCategoryTask">
      <option value="1">Iniciadas</option>
      <option value="2">Abertas</option>
      <option value="3">Encerradas</option>
    </select>
  </div>   
  <div class="col m2 s12" style="margin-top: 9px;">
    <a class="waves-effect waves-light btn modal-trigger" href="#form_task">Abrir Tarefa</a>
  </div>
</div>

<% if @tasks.any? %>
  <ul class="collapsible" id="task_list">
    <%= render 'tasks/index', tasks: @tasks %>
  </ul>
<% else %>
    <p>Nenhuma tarefa iniciada.</p>
<% end %>

<!-- Modal Structure -->
  <div id="form_task" class="modal">
    <div class="modal-content">
      <h4>Abrir nova tarefa</h4>
      <%= render 'tasks/form', task: @task %>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>