@import "materialize/components/color-variables";
@import "core/variables";
@import 'materialize';
@import 'core/main';

.primary {
    background: $primary-color;
}
.btn {
	text-transform: capitalize !important;
}
.btn_span {
    color: #fff !important;
    position: relative;
    padding-left: 9px;
    padding-right: 54px;
    span {
        position: absolute;
        top: 0px;
        left: 43px;
    }
}
a:hover{
    transition: 1s ease all;
}
form .row {
	margin-bottom: 0;
	.col {
		padding: 0 !important;
	}
}
.modal {
	z-index: 1008 !important;
}
.modalLg {
    width: 79% !important;
    height: 95% !important;
    padding: 2pc;
    padding: 2.5pc !important;
    top: 12px !important;
    max-height: 97%; 
}
.modal-overlay {
	z-index: 1007 !important;
}
.btn-block {
	width: 100%;
}
.ln {
    margin-left: 0 !important; 
    margin-right: 0 !important; 
    margin-bottom: 0 !important; 

    p {
        padding: 0 !important;
    }
}
.center {
    text-align: center;
}
.success {
    color: $success;
}
.danger {
    color: $danger;   
}