@import "materialize/components/color-variables";
@import "core/variables";
@import 'materialize';
@import 'core/main';

.modal { width: 75% !important ; height: 75% !important ; } 
.primary {
    background: $primary-color;
}
a:hover{
    text-decoration: underline;
    transition: 1s ease all;
}
